*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
 
    
    
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: white;
    
}

/* //loader section css// */


#cursor{
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    border: 1px solid #fff;
    mix-blend-mode: difference;
    position: fixed;
    transform: translate(-50%, -50%);
} 
#loader{
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    position: fixed;
    padding: 20vh 7vw;
   

}

.fix{
    display: flex;
    gap: 1.5vw;
    align-items: center;
    font-family: 'poppins';
    overflow-y: hidden;

}

#count{
    width:8vw;
    text-align: right;
    /* background-color: antiquewhite; */
}

.fix h3, .fix h4{
    font-size: 3vw;
    font-weight: 100;
    font-style: italic;

}



.fix h1, .fix h2{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7.2vw;

}

.fix h2{
    font-weight: 100;
    font-size: 5vw;
   font-style: italic;
  
  
    
}

@keyframes blink {
    0%{
        font-family: "Gilroy";
        opacity: 1;
        -webkit-text-stroke: .5px rgb(255, 255, 255);
        color: #fff;
    }
    48%{
        font-family: "Gilroy";
        opacity: 0;
        -webkit-text-stroke: .5px rgb(255, 255, 255);
        color: #fff;
    }
    50%{
        font-family: "poppins";
        opacity: 1;-webkit-text-stroke: .5px rgb(255, 255, 255);
        color: #fff;
    }



    100%{
        font-family: "poppins";
        opacity: 0;
        -webkit-text-stroke: .5px rgb(255, 255, 255);
        color: #fff;
    }
    
}



/* page1 css */

#page1{
    width: 100%;
    height: 100vh;
    /* background-color: #5b1c1c; */
    background-color: #151515;
  
   
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5vw 5vw;
    
}

#nav-left{
    display: flex;
    align-items: center;
    gap: 2vw;
    color: #fff;

}


#nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    font-size: 1.2vw;
}


.hero {
  width: 75%;
  margin-left: 25%;
  overflow: hidden;

}

#hero1,#hero2,#hero3,#hero4{
    overflow: hidden;
}


.hero h1{
    font-size: 7.5vw;
    line-height: 7vw;
    text-transform: uppercase;
    font-family: 'poppins';
    font-weight: 400;
    width: fit-content;
  

}

.hero:nth-child(2){
    margin-top: 10vh;
}

.hero:nth-child(4){
    display: flex;
    align-items: flex-end;
    transition: all ease .2s;
    /* padding-bottom: 1vw; */
    
}

.hero:nth-child(4) :hover {
    /* margin-bottom: 1vw; */
    -webkit-text-stroke: .1vw #fff;
    color: transparent;
    border-bottom: .5vw solid #00000099;
    
} 

.bb{
    border-bottom: .5vw solid #fff;
  
}

#bar{
    font-size: 5.6vw;
}




